.hide{
    display: none;
}
.header{
    padding: 0.5rem;
}

#option-btn{
    font-size: 1.25rem;
    color:var(--text-color);
    cursor: pointer;
    transition: .3s;

    background: none;
    border: none;
}

#option-btn:hover{
    color: var(--first-color);
  }
 
.nav__item p{
      text-align: center;
}

.nav__lis{

}


.card__profile{
    margin:6rem 1rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.card__profile img{
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
    margin-bottom: 2rem;
}

.card__profile p{
    text-align: center;
    margin-bottom: .6rem
}

.card__profile .user-name{
    font-size: 1.5rem;
    color: var( --title-color)
}

/*===============user sate===============*/
.user__state{
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top:-4rem;
}

.user__state .user_sate-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-left: 2px;
    height: 100px;
    padding:1rem;
    background: var(--border-color);
    transition: .3s;
}

.user__state .user_sate-item:hover{
    background-color: var(--first-color-alt);
    color:var(--title-color);
    font-weight:600;
}


.user__state .user_sate-item i{
    margin-bottom:.7rem
}

.user__state .user_sate-item p{
    text-align: center;
}


/*Main section*/
#main__user-content{
    width: 90%;
    margin: 0 auto;
    margin-top:2rem;
}

/* agent clients*/
.user-card__profile{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    background: var(--border-color);
    border-radius:3px;
    padding: 1rem;
    margin-bottom: 6px;
}

.user-card__profile:last-child{
    margin-bottom: 7.5rem;
}

.user-card__profile:hover{
    background-color: var(--container-color)
}


.user-card__profile img{
    width: 72px;
    border-radius: 75px;
    object-fit: cover;
}

.user-nome-span{
    color: var(--title-color)
}

.state__check{
    display: flex;
    gap: 1rem;
    margin-top:.4rem; 
}


/*home section style*/

/**Break-points*/

@media screen and (max-width:1023px){
    .nav__menu{
        width: 210px;
    }
}